<%= error %>
<form method="post" action="/user/confirm">
  Name: <input type="text" name="name"><br>
  Password: <input type="password" name="password"><br>
  Email: <input type="email" name="email"><br>
  <input type="submit" value="Create">
</form>
