<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<%= error %>
<form method="post" action="/note/list">
  Name: <input type="text" id="name" name="name"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Log In" onclick="saveUsername()">
</form>
<a class="button" href="/user/create">Create</a>
