<div class="container">
	<input type="text" id="searchUser"></input>
	<dl id="userSearchedDl"></dl>
	<div id="listShareCreator" class="four columns alpha" style="border-width: 2px; border-style: dashed;">
		<h3>Admin</h3>
		<dl id="creatorDl"></dl>
	</div>
	<div id="listShareWriter" class="four columns" style="border-width: 2px; border-style: dashed;">
		<h3>Writer</h3>
		<dl id="writerDl"></dl>
	</div>
	<div id="listShareReader" class="four columns" style="border-width: 2px; border-style: dashed;">
		<h3>Reader</h3>
		<dl id="readerDl"></dl>
	</div>
	<div id="drash" class="four columns omega" style="border-width: 2px; border-style: dashed;">
		<img width="34" height="34" style="margin-top: 3px;" src="/images/drash.svg"></img>
	</div>
</div>
<script type="text/javascript" src="/js/initShare.js"></script>
